.footer {
  border-top: 1px solid grey;
  padding: 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

.copyright {
  text-align: center;
  margin-bottom: 1rem;
}

.navListItem {
  margin: 0 0.5rem;
  color: rgb(90, 90, 90);
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
}

.navListItemLink {
  padding: 0.8rem;
}

.navListItemLink:hover {
  color: black;
}

@media screen and (min-width: 760px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
    margin: 0;
  }
}
